<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Distribution_List.Properties.Settings.MONITORConnectionString"
            connectionString="Data Source=192.168.1.102;Initial Catalog=MONITOR;Persist Security Info=True;User ID=sa;Password=Electro.3mpire"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>