@{ Layout = "~/Views/Shared/_rootLayout.cshtml"; }

@section AdditionalResources
{
    @RenderSection("AdditionalResources", false)
}

<script>
    function AlertsUpdate(s, e) {
        $('#AlertsPartialView').html(s.cpAlertsHtml);
    }
</script>

@*@Html.DevExpress().Panel(settings =>
{
    settings.Name = "LeftPane";
    settings.FixedPosition = PanelFixedPosition.WindowLeft;
    settings.Collapsible = true;
    settings.SettingsAdaptivity.CollapseAtWindowInnerWidth = 1023;
    settings.ControlStyle.CssClass = "leftPane";
    settings.Styles.Panel.CssClass = "panel";
    settings.SetContent(() =>
    {
        Html.RenderPartial("ContentLeftPartialView");
    });
}).GetHtml()*@

<div class="contentPane" style="padding: 15px">
    <div id="AlertsPartialView">
        @Html.Partial("_alerts")
    </div>
    @RenderBody()
</div>

@*@Html.DevExpress().Panel(settings =>
{
    settings.Name = "RightPane";
    settings.FixedPosition = PanelFixedPosition.WindowRight;
    settings.Collapsible = true;
    settings.SettingsAdaptivity.CollapseAtWindowInnerWidth = 1023;
    settings.ControlStyle.CssClass = "rightPane";
    settings.Styles.Panel.CssClass = "panel";
    settings.SetContent(() =>
    {
        Html.RenderPartial("ContentRightPartialView");
    });
}).GetHtml()*@
