<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MONITOREntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eeisql1.empireelect.local;initial catalog=MONITOR;persist security info=True;user id=Andre;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MONITOREntities_SLA" connectionString="metadata=res://*/Model.Model_SLA.csdl|res://*/Model.Model_SLA.ssdl|res://*/Model.Model_SLA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eeisql1.empireelect.local;initial catalog=MONITOR;user id=Andre;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MONITOREntities_SLAKorea" connectionString="metadata=res://*/Model.Model_SLAKorea.csdl|res://*/Model.Model_SLAKorea.ssdl|res://*/Model.Model_SLAKorea.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eeisql1.empireelect.local;initial catalog=MONITOR;user id=Andre;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MONITOREntities_OrderMaintenance" connectionString="metadata=res://*/Model.Model_OrderMaintenance.csdl|res://*/Model.Model_OrderMaintenance.ssdl|res://*/Model.Model_OrderMaintenance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eeisql1.empireelect.local;initial catalog=MONITOR;user id=Andre;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MONITOREntities_LiteTek" connectionString="metadata=res://*/Model.Model_LiteTek.csdl|res://*/Model.Model_LiteTek.ssdl|res://*/Model.Model_LiteTek.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eeisql1.empireelect.local;initial catalog=MONITOR;user id=Andre;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MONITOREntities_IIStanley" connectionString="metadata=res://*/Model.Model_IIStanley.csdl|res://*/Model.Model_IIStanley.ssdl|res://*/Model.Model_IIStanley.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eeisql1.empireelect.local;initial catalog=MONITOR;persist security info=True;user id=Andre;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MONITOREntities_SUS" connectionString="metadata=res://*/Model.Model_SUS.csdl|res://*/Model.Model_SUS.ssdl|res://*/Model.Model_SUS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eeisql1.empireelect.local;initial catalog=MONITOR;persist security info=True;user id=Andre;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MONITOREntities_TRWSAF" connectionString="metadata=res://*/Model.Model_TRWSAF.csdl|res://*/Model.Model_TRWSAF.ssdl|res://*/Model.Model_TRWSAF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eeisql1.empireelect.local;initial catalog=MONITOR;user id=Andre;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>