<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FxFTP.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="FxEDIEntities" connectionString="metadata=res://*/FxEDI.csdl|res://*/FxEDI.ssdl|res://*/FxEDI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eeisql2;initial catalog=FxEDI;persist security info=True;user id=estimpson;password=)Kc0mput3r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <FxFTP.Desktop.Properties.Settings>
      <setting name="DownloadTempFolder" serializeAs="String">
        <value>F:\Data\EDI_FTP_Staging\FxFTP.Temp\</value>
      </setting>
      <setting name="CustomerEDIFileTablePath" serializeAs="String">
        <value>\\srvsql2\fx\FxEDI\RawEDIData\CustomerEDI\Inbound</value>
      </setting>
      <setting name="iExchangeWebArchiveFolder" serializeAs="String">
        <value>/recv/rcvd</value>
      </setting>
      <setting name="HostName" serializeAs="String">
        <value>ftp.iexchangeweb.com</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>EMP13707</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>EM13707</value>
      </setting>
    </FxFTP.Desktop.Properties.Settings>
  </userSettings>
</configuration>